# Dependencies
node_modules/

# Expo prebuild artifacts
examples/*/ios/
examples/*/android/

# Expo
.expo/
dist/
web-build/

# Native
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*.iml
.gradle
local.properties
*.keystore
!debug.keystore

# Build
lib/
build/

# System
.DS_Store
*.log
*.tsbuildinfo

# IDE
.idea/
.vscode/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
